.entry-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.entry-container p {
  margin: 0 0 20px 0;
}

.entry-container .header {
  line-height: 1;
  margin-bottom: 0;
}

.entry-container {
  background: #ffd6f5;
  border-radius: 20px;
  /* padding: 40px; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #d84861;
  text-align: center;
  width: 500px;
}

.entry-form {
  padding: 40px;
}

.passcode-submit-btn {
  padding: 15px 30px !important;
}

.entry-container .input {
  text-align: left;
  margin-bottom: 20px;
}

.entry-container .input p {
  margin: 0;
  font-size: 14px;
}

.entry-container .input input {
  border: 1px solid #d84861;
}

.entry-container h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.entry-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.entry-container input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 14px;
}

.entry-container button {
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #f94a69;
  background-color: #f94a69;
  color: white;
  font-family: "Arial", sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry-container button:hover {
  border-color: #e0435f;
}

.error {
  color: #f94a69;
  margin-bottom: 10px;
}

.valentine-question .buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.yes-button {
  background-color: #f94a69;
  color: white;
}

.no-button {
  background-color: transparent !important;
  color: #f94a69;
}


h1 {
  color: #f94a69;
  font-size: 42px;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  margin-bottom: 40px;
}

.heart-area {
  position: relative;
  width: 500px;
  margin: 40px auto;
}

.heart-area .container {
  position: relative;
  width: 370px;
  height: 285px;
  margin: auto;
  white-space: nowrap;
}

.val-btn {
  position: absolute;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

/* NO style */
.no {
  background: transparent !important;
  color: #f94a69 !important;
}

/* YES style */
.yes {
  background: #f43f5e;
  color: white;
  transform: scale(1.15);
}
